li { 
    display: inline; 
}

#header {
	height: 120px;
	margin: 0 auto;
}

#content {
	height: 500px;
	margin: 0 auto;
}

#foot {
	height: 150px;
	margin: 0 auto;
    text-align: center;
}

#foto{
    width: 100px;
    height: 118px;
    float:left;    
}

#navbar{
    width: 600px;
    height: 40px;
    float: left;
}

#nome{
    width: 600px;
    height: 80px;
    float: left;
    padding: 20px;
    
}

#taylor{
	width:1800px;
	height:400;
	margin:0;
	opacity:0.4;
	background-attachment:fixed;
}


.fundo1{
	background-color:pink
}

.fundo2{
	background-color:#FFFACD
}

.borda{
    border-width: thin;
    border-style: solid;
    border-color: black;
}